# to allow pnpm build (standard environment configuration for vercel production)
PNPM_APPROVE_BUILD=true

# Mainnet Explorer
NEXT_PUBLIC_ROUTESCAN_MAINNET=https://routescan.io

# Testnet Explorer
NEXT_PUBLIC_ROUTESCAN_TESTNET=https://testnet.routescan.io
